@model IEnumerable<EVENTMGT_SYSTEM.Models.Attendee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Fullname
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.uuid }) |
            @Html.ActionLink("Details", "Details", new { id=item.uuid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.uuid })
        </td>
    </tr>
}

</table>
